AI_SERVER_PORT=8787

DEEPSEEK_API_KEY=
DEEPSEEK_BASE_URL=https://api.deepseek.com
DEEPSEEK_CHAT_MODEL=deepseek-v4-flash
DEEPSEEK_REPORT_MODEL=deepseek-v4-pro

ALIYUN_AK_ID=
ALIYUN_AK_SECRET=
NLS_APP_KEY=
ALIYUN_NLS_TOKEN=
